/* Give your page a fun background color */
body {
  background-color: #F0F8FF;
}

/* Make the header and footer a different color from the background */
header {
  background-color: #0000FF;
}

footer {
  background-color: #0000FF;
}

/* Align the h1 containing your name in the center of the header*/
h1 {
  text-align: center;
  color: #FFFFFF;
}

/* Make your p tag a different color and italic */
p {
  color: #FFFFFF;
  font-style: italic;
}

/* Put a border around your image */
img {
  border: 5px solid #000000;
}

/* Change the font-family of your list */
ul {
  font-family: Arial, Helvetica, sans-serif;
}
